<mat-progress-bar mode="indeterminate" *ngIf="showProgress"></mat-progress-bar>
<div class="example-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="otpForm">
      <mat-form-field>
        <input matInput #input maxlength="6" formControlName="otp" placeholder="OTP" name="otp" required>
        <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
        <mat-error *ngIf="otpForm.controls.otp.invalid">{{getOTPError()}}</mat-error>
      </mat-form-field>
      <!-- <div style="height:20px"></div>
      <a mat-button >Resend OTP</a> -->
      <div style="height:20px"></div>
      <button mat-raised-button class="center-button" color="primary" type="submit" [disabled]="!otpForm.valid">Submit</button>
    </form>
  </div>